@using ATCTools.Client.Services
@using ATCTools.Shared.Models
@inject AerodromeService AerodromeService
@inject NavigationManager NavigationManager

<div class="navigation-container">
    <MudButtonNavLink Variant="Variant.Text" Href="/" Match="NavLinkMatch.All" BaseClass="mx-1 px-4" ActiveClass="mud-chip-text mud-chip-color-primary">Validator</MudButtonNavLink>
    <MudButtonNavLink Variant="Variant.Text" Href="/charts" Match="NavLinkMatch.All" BaseClass="mx-1 px-4" ActiveClass="mud-chip-text mud-chip-color-primary">Charts</MudButtonNavLink>
    <MudButtonNavLink Variant="Variant.Text" Href="/sop" Match="NavLinkMatch.All" BaseClass="mx-1 px-4" ActiveClass="mud-chip-text mud-chip-color-primary">SoP</MudButtonNavLink>
</div>

@code {
    private ClientAerodrome? _selectedAerodrome = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _selectedAerodrome = AerodromeService.SelectedAerodrome;
        AerodromeService.OnStateChange += SelectedAerodromeChanged;
        StateHasChanged();

        NavigationManager.LocationChanged += Navigated;
    }

    private void Navigated(object? _, LocationChangedEventArgs __)
        => StateHasChanged();

    private void SelectedAerodromeChanged(ClientAerodrome? aerodrome)
    {
        _selectedAerodrome = aerodrome;
        StateHasChanged();
    }
}
